*.class

# Package Files #
*.jar
*.war
*.ear
*.iml
.idea
# Eclipse configurations #
.classpath
.project
.settings
**/.classpath
**/.project
**/.settings
# Build directories #
target
bin
build
**/target
**/build
**/bin
# Non related objects #
.gradle
.DS_Store

